
<div class="mt-5">
<div class="row py-5">
    <div class="col-4"></div>
    <div class="col-4 border border-secondary p-4">
<input class="form-control mb-4" type="email" placeholder="Enter your email"  [(ngModel)]="email" />
<span class="input-group-addon"></span>
<input class="form-control mb-4" type="password" placeholder="Enter your password" [(ngModel)]="password" />
<span class="input-group-addon"></span>
<div class="text-center ">
    <button class="btn btn-secondary  w-100" (click)="onsubmit()">Login</button>
</div>

</div>

<div class="col-4"></div>
</div>
</div>